/***
	Author: Charles Richardson
	Class: CSC4018
	Assignment 2: style.css
	Much of the css page is taken from Assignmen 3 of CSCI-3300
***/
/***
	Line spaces used to make reading/editing more easy.
	Attempting to create a page that is fluid, using percent and em measurements.
***/

/***set all margins and paddings to 0 for a clean slate***/
* {margin: 0; padding: 0;}

/***Full document styles***/
html{background-color: #aa7939;}				/*Created using paletton.com site. Code found on pg189*/


/***Named elements***/
#copyright{font-size: 80%;}					 	/*Found on pg 161*/

#content_title {
	text-align: center;
	font-style: bold;
	font-size: 200%;
}

#book_author {
	padding-top: 2em;
	text-align: center;
	font-style: bold;
	font-size: 150%;
	color: #000;
}

#listed_info {
	margin-top: 2em;
	margin-bottom: 2em;
	}

#listed_info ul{							 	/*removes bullets from 'nav' list, listed_info*/
	margin: 0 4em; 								/*createe an all-around margin of 32px s*/
	padding: 0;									
	margin-bottom: 1em;
	}

#listed_info ul li{
	line-height: 2;							/*puts a little space between lines*/
	font-weight: bold;
	/* list-style: none; */
	}
	
#inside_list li{
	list-style: none;
}

#inside_list_2{
	list-style: none;
	margin-top: 1em;
}

#go_home{
    margin-bottom: 4em;
    margin-left: 4em;
}


#title_pg_table{
	margin: 0 auto;
}

#title_pg_table tr{
	font-size: 200%;
	padding-top: 4em;
	padding-bottom: 4em;
}

#bottom_div_table th{
	margin: auto;
	width:33%;
	text-align: center;
}


/*** class style settings ***/

.content_top_div{
	margin auto;
	text-align: justify;
	padding-top: 2em;
	padding-left: 2em;
}

.top_div{
	margin: auto;
	text-align: center;

}

.middle_div{
	margin: auto;
	text-align: left;
}

.bottom_div{
	margin: auto;
	text-align: right;
}

.bottom_div a{
	margin: auto;
	padding-right: 2em;
	padding-bottom: 2em;
}


.title_top{
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: .25em outset #000;
}

.title_middle{
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: .25em outset #000;
}

.title_bottom{
	padding-top: 2em;
	padding-bottom: 2em;
}


/***double line space denotes a different area of the page being edited***/	
body{ 											/*Found on pg147*/
	background-color: #496d89; 					/*changes color for the body of the text.  Find information on pg189*/
	font-family: sans-serif;				
	max-width: 800px;
	margin: 0 auto; 							/*set top and bottom margins to 0, auto centers from left to right. pg175*/
	border: 3px solid black; 					/*Found on pg185. Width, style, color*/
	box-shadow: 3px 3px 4px 4px black; 			/*Found on pg 187. Horizontal, Vertical, blurRadius, spread color*/
	}
h1{margin: 0 1em; font-size: 300%;}				/*1em = 16px/16px*/								
h2{font-size: 125%; color: #e6db79}
h3{margin: 0 1em; font-size: 125%;}																		
h4{margin: 0 1em; font-size: 125%;}
h5{margin: 1em 1em;}
p{margin: 0 1em; padding-right: 1em;}

a:link{color:#faf9f9;} 
a:hover, a:focus{font-size: 100%;} 
a:visited, a:active{color:yellow;}  			/*Found on http://www.w3schools.com/ site*/
	

header{
							/*Remove comment marks if lines are needed in the future. W3C CSS Validation says lines are not needed.*/
							/*background-image: -webkit-linear-gradient(45deg, #ffeaaa 0%, #806515 75%, #d4ba6a 100%); /*Sets header gradient for Chrome and Safari. Found on pg191*/
							/*background-image: -moz-linear-gradient(45deg, #ffeaaa 0%, #806515 75%, #d4ba6a 100%); /*Sets header gradient for Firefox.  Found on pg191*/
							/*background-image: -o-linear-gradient(45deg, #ffeaaa 0%, #806515 75%, #d4ba6a 100%); /*Sets header gradient for Opera.  Found on pg191*/
	background-image: linear-gradient(45deg, #ffeaaa 0%, #806515 75%, #d4ba6a 100%);	/*Sets header gradient. Starts color (2) 3/4 to the right.  Found on pg191*/
	border-bottom: 1px solid black;				/*Found on pg185*/
	margin: 0 auto;								/*no margin, top and bottom. 'auto' centers left and right*/
	padding: 1em 1em 3em;
	height:75px;
	}
header h1{margin: 0 0; font-size: 250%;} 		/*margin: top/bottom left/right;*/
header h2{margin: 0 0; font-size: 125%;}
header h5{margin: 0 1em;}
header ul{font-weight: bold;}


section{margin:0; padding:1em 1em 3em;}			/*creates a space between the text of the section and the header*/
section p{margin: 0 0; font-weight: bold;}





